<mat-toolbar color="primary">
  <button mat-icon-button routerLink="home" class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>language</mat-icon>
  </button>
  <span>3D PRINTER</span>
  <span class="example-spacer"></span>
  <a mat-button routerLink="option1" routerLinkActive="selected">OPTION 1</a>
  <a mat-button routerLink="option2" routerLinkActive="selected">OPTION 2</a>
  <a mat-button routerLink="option3" routerLinkActive="selected">OPTION 3</a>
  <a mat-button routerLink="option4" routerLinkActive="selected">OPTION 4</a>
  <a mat-raised-button color="accent" routerLink="logform">LOGIN</a>
  <a mat-raised-button color="is-dark" routerLink="registerform">REGISTER</a>
  <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button> -->
</mat-toolbar>