.ng-star-inserted{
    width: 100%;
}
.mat-login{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    display: inline-block;
}
.cover{
    margin: 0 auto;
    width: 40%;
}
.example-full-width {
    width: 100%;
  }